<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://kit.fontawesome.com/a68ff73b1b.js" crossOrigin="anonymous"></script>
  </body>
</html>
